<h2>Browse Articles</h2>
<table>
  <thead>
  <tr>
    <th>Thumb</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
      <tr>
        <td><%= image_tag article.picture.url(:thumb) %></td>
        <td><%= link_to article.name, home_show_path(:article => article)  %></td>
        <td><%= article.category %></td>
        <td><%= number_to_currency(article.price_per_unit, :unit => '€', :delimiter => ',') %></td>
      </tr>
  <% end %>
  </tbody>
</table>